#tab3Main
  padding: 2.292rem 0 1.306rem 0;
  .item1
    width: 100%;
    background: #fff;
    margin: .2666rem 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .48rem .4rem;
    .title
      width: 100%;
      color: #333;
      font-size: .48rem;
      line-height: .72rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: PingFangSC-Regular;
    .desc
      font-size: .373rem;
      color: #7F7F7F;
      line-height: .52rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;

      padding-top: .1rem;
    .pic
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: .32rem 0;
      img
        width: 2.212rem;
        height: 2.212rem;
        border-radius: .052rem;
        overflow: hidden;
        background: #f4f4f4;
        margin-bottom: .1rem;

    .see
      font-size: .29rem;
      color: #999;
      line-height: .42rem;
      margin-top: .24rem;
      .icon
        display: inline-block;
        width: .373rem;
        height: .2666rem;
        vertical-align: middle;
        background: url('../img/eye.png') no-repeat 0/100%;
        margin-right: .1rem;
      .count
        display: inline-block;
        vertical-align: middle;