#tab5Main
  height 100%
  padding: 2.292rem 0 1.306rem 0;
  .item2
    width: 100%;
    background: #fff;
    margin: .2666rem 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .48rem .4rem;
    .userName
      font-size: .373rem;
      color: #333;
      line-height: .48rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display flex
      justify-content flex-start
      align-items center
      margin-bottom: .32rem;
      .ava
        width: .75rem;
        height: .75rem;
        overflow: hidden;
        border-radius: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: .01rem solid #d9d9d9;
        margin-right: .16rem;
        img
          width: 0.75rem;
          height: 0.75rem;
          border-radius 50%
      .name
        display: inline-block;
        vertical-align: middle;

    .title
      font-size: .48rem;
      color: #333;
      line-height: .7rem;
      margin: -.1rem 0 .213rem 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-family: PingFangSC-Regular;
    .pic
      width: 9.197rem;
      height: 5rem;
      position: relative;
      margin-bottom: .2333rem;
      overflow: hidden;
      border-radius: .1rem;