.swiper-container
  margin-top 2rem !important
  width 100%
  height: 4.93333rem;
  .swiper-wrapper
    width 800%
    height 100%
    display flex
    flex-wrap nowrap
    .swiper-slide
      width calc(100% / 8)
      height 100%
      img
        width 100%
        height 100%
.bulletin
  width 100%
  background: #FFEDDB;
  .g-grow
    width: 100%;
    height: .96rem;
    padding: 0 .4rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content space-around
    zoom: 1;
    li
      float: left;
      display: flex;
      vertical-align: middle;
      height: .42667rem;
      justify-content center
      i
        display: inline-block;
        vertical-align: middle;
        background-image: url(http://yanxuan.nosdn.127.net/cae45612b8aae577d8bd73338e2fc02c.png)
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: .42667rem;
        height: .42667rem;
      span
        font-size: .32rem;
        margin-left: .10667rem;
        line-height: .42667rem;
        display: inline-block;
        vertical-align: middle;
        color: #B4282D;

.product-list
  width 100%
  height: 5.22667rem;
  background-color #FFEDDB
  ul
    li
      display: flex;
      width: 1.46667rem;
      height: 2.08rem;
      float: left;
      margin: .13333rem .26667rem 0;
      margin-bottom: .12rem;
      justify-content center
      align-items center
      flex-wrap wrap
      img
        width: 1.46667rem;
        height: 1.46667rem;
      span
        margin-top: .13333rem;
        text-align: center;
        font-size: .32rem;
        line-height: .48rem;
        white-space: nowrap;
.promItem
  width 100%
  height 100%
.sales01
  width:10rem;
  height:6.226666666666667rem;
  background:url(https://yanxuan.nosdn.127.net/15435901919894506.png?imageView&crop=0_496_750_588);
  background-size:100% 100%;
  margin-top -1.4rem
  padding-top 1rem
  display flex
  justify-content center
  align-items center
  .sales01-item01
    width: 50%;
    height: 100%;
    img
      width 100%
      height 100%
  .sales01-item02
    width: 50%;
    height: 100%;
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    img
      height 50%
      width  100%
.sales02
  width:10rem;
  height:2.9111111111111112rem;
  background:url(https://yanxuan.nosdn.127.net/15435901919894506.png?imageView&crop=0_1084_750_305);
  background-size:100% 100%;
  position flex
  justify-content center
  align-items center
  flex-wrap nowrap
  .sales02-item01
    float left
    width 50%
    height auto
.freshmanModule
  background: #fff;
  margin-top: .26667rem;
  padding-bottom: .4rem;
  margin-bottom: .26667rem;
  .title
    height: 1.2rem;
    width: 100%;
    line-height: 1.2rem;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: .42667rem;
    .txt
      display: inline-block;
      position: relative;
      &::before
        content: '';
        position: absolute;
        top: .6rem;
        width: .32rem;
        height: .04rem;
        background: #333;
        left -.53333rem
      &::after
        content: '';
        position: absolute;
        top: .6rem;
        width: .32rem;
        height: .04rem;
        background: #333;
        right  -.53333rem
  .freshmanContent
    font-size: .42667rem;
    padding-left: .4rem;
    overflow: hidden;
    display flex
    .left
      flex-shrink 0
      display: block;
      width: 4.57333rem;
      height: 5.78667rem;
      background: #F9E9CF;
      border-radius: .05333rem;
      margin-right: .05333rem;
      float: left;
      color: #333;
      .left-txt
        display inline-block
        font-family: PingFangSC-Medium;
        font-size: .42667rem;
        margin: .4rem 0 0 .4rem;
      .img-warp
        display block
        margin: .26667rem auto;
        width: 3.04rem;
        height: 3.05333rem;
        position: relative;
        img
          width: 100%;
          height: 100%;
    .right
      float: left;
      .right-item1
        display block
        background: #FBE2D3;
        border-radius: 4px;
        width: 4.57333rem;
        height: 2.86667rem;
        margin-bottom: .05333rem;
        position relative
        .activityItem1
          position absolute
          display inline-block
          font-family: PingFangSC-Medium;
          font-size: .42667rem;
          top .25333rem
          left .25333rem;
        .activityItem2
          position absolute
          color: #7F7F7F;
          font-size: .32rem;
          top .95333rem
          left .25333rem;
        img
          position absolute
          width: 2.66667rem;
          height: 2.66667rem;
          top .25333rem
          right  .25333rem;
        .price
          position absolute
          top .25333rem
          right  .65333rem;
          width: 1.06667rem;
          height: 1.06667rem;
          opacity: .8;
          background: #F59524;
          border-radius: 50%;
          padding-top: .13333rem;
          color: #fff;
          text-align: center;
          .price1
            display block
            font-size: .32rem;
          .price2
            display block
            font-size: .26667rem;
            margin-top: -.09333rem;
            text-decoration: line-through;
      .right-item2
        display block
        background: #FFECC2;
        border-radius: 4px;
        width: 4.57333rem;
        height: 2.86667rem;
        position relative
        .activityItem1
          position absolute
          display inline-block
          font-family: PingFangSC-Medium;
          font-size: .42667rem;
          top .25333rem
          left .25333rem;
        .activityItem2
          position absolute
          color: #fff;
          top .95333rem
          left .25333rem;
          background: #CBB693;
          border-radius: .05333rem;
          font-size: .29333rem;
          line-height: .42667rem;
          text-align: center;
        img
          position absolute
          width: 2.66667rem;
          height: 2.66667rem;
          top .25333rem
          right  .25333rem;
        .price
          position absolute
          top .25333rem
          right  .65333rem;
          width: 1.06667rem;
          height: 1.06667rem;
          opacity: .8;
          background: #F59524;
          border-radius: 50%;
          padding-top: .13333rem;
          color: #fff;
          text-align: center;
          .price1
            display block
            font-size: .32rem;
          .price2
            display block
            font-size: .26667rem;
            margin-top: -.09333rem;
            text-decoration: line-through;
.manufacturer
  padding-bottom: .10667rem;
  .moduleTitle
    width: 100%;
    height: 1.33333rem;
    line-height: 1.33333rem;
    padding: 0 .4rem;
    background: #fff;
    overflow: hidden;
    .title
      float: left;
      font-size: .42667rem;
      font-family: PingFangSC-Regular;
    .more
      display: block;
      font-size: .37333rem;
      float: right;
      color: #333;
      line-height: 1.33333rem;
  .moduleList
    position: relative;
    overflow: hidden;
    background: #fff;
    margin-bottom: .26667rem;
    padding: 0 .34667rem .34667rem .4rem;
    display flex
    flex-wrap wrap
    .item
      flex-shrink 0
      display: flex;
      flex-direction column
      justify-content center
      align-items center
      position: relative;
      margin: 0 .05333rem .05333rem 0;
      width: 4.57333rem;
      height: 3.46667rem;
      overflow: hidden;
      background-color: #f4f4f4;
      border-radius: .05333rem;
      background-image:url(http://yanxuan.nosdn.127.net/802ff06dd3ef161db046eeb8db6cb4be.jpg?imageView&thumbnail=343y260&enlarge=1);
      background-size:100% 100%;
      .item-top
        margin-top -2rem
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #333;
        font-family: PingFangSC-Medium;
        font-size: .37333rem;
        line-height: .45333rem;
        margin-bottom: .04rem;
      .item-middle
        color: #7F7F7F;
        font-size: .32rem;